@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 ml-6 md:mr-5 md:ml-0 mt-7 md:mt-0 border border-[#40E0D0] md:border-transparent rounded-full uppercase text-xs tracking-widest text-gray-300 transition-all hover:border-[#40E0D0]/40 hover:text-[#40E0D0]/40
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-gray-900 text-gray-500 transition-all focus:border-[#2C9C91] focus:text-[#39C9BB] hover:border-[#2C9C91]
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
